/**
 * @description 侧边菜单栏
 *
 */


 .sadebarContent{
    width: 100%;
    height: 100%;
    .Content{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
     }
    .contShow{
        left: 180px;
    }
    .contHien{
        left: 80px;
    }
    .sidebar{
        position: absolute;
        width: 180px;
        bottom: 0;
        top: 0;
        max-height:none !important;
        float: left;
        background-color:#001529;
        overflow: auto;        
    }
    .barShow {
        width: 180px;
     }
    .barHiden{
        width: 80px;
     }
 }
