/**
 * @description 侧边菜单栏
 *
 */


 .pageContent{
    width: 100%;
    height: 100%;

    .page-cont{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 180px;
     }
    
    .page-sidebar {
        position: absolute;
        width: 180px;
        bottom: 0;
        top: 0;
        max-height:none !important;
        float: left;
        background-color:#001529;
        overflow: auto;
     }
 }
